<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Thymeleaf Lab</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	      th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}">
</head>
<body>

<h1>This is a heading</h1>
<h2>this is heading 2</h2>
<p style="color: red">This is a paragraph</p>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="/webjars/popper.js/1.14.3/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>

</body>
</html>